
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------- END MEYERWEB ------------------- */

body > header {
	background-color: beige;
}

header, nav {
  /* margin: 1em 2em; */
	padding: 1em 2em;
}

header > svg {
	height: 5em;
}

#blinkers {
	display: none;
}

h1 {
  color: #0080ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

ul {
  display: flex;
  justify-content: center;
}

#themas > li {
    flex: 1;
    color: #fff;
    background-color: #FECC4F;
    list-style-type: none;
    margin: 2em 1em;
    min-height: 10em;
    max-width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
		border-radius: 0.25em;
}

#themas > li > a {
  color: #fff;
  text-decoration: none;
  /* padding: 2em; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
	text-transform: capitalize;
}

form {
	display: flex;
	padding: 1em 2em;
	justify-content: center;
	height: 3em;
	background-color: #0080ff;
}

form > input {
	flex: 3;
	/* max-width: 60em; */
	max-width: 40em;
	border: 5px solid #FECC4F;
}

form > button {
	flex: 1;
	font-size: 1em;
	/* max-width: 15em; */
	max-width: 10em;
}

input {
	/* font-family: 'Roboto', sans-serif; */
}

input[placeholder] {
	padding-left: 0.7em;
	font-size: 1em;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 4em 2em;
}

main > article {
	min-width: 15em;
	border-radius: 10px 10px 10px 10px;
	background: #5281FF;
	margin-bottom: 2em;
	margin-right: 2em;
}

main article img {
	width: 8em;
	height: 10em;
}

main > article:hover {
	box-shadow: -3px -3px 5px 0px rgba(0,0,0,0.75);
}

button {
	background-color: #5934A5;
	border: none;
	color: #fff;
}
